.container {
    width: 80%;
    border: 1px solid black;
    margin: 30px auto;
    padding: 30px;
}

.field {
    margin-bottom: 12px;
}

.input {
    width: 100%;
    margin-top: 8px;
    height: 24px;
}


